/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #0b0b0b, #1a1a1a);
    color: #f2f2f2;

}

/* Header styling */
header {
    background: linear-gradient(135deg, #ff0066, #00ccff);
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 3rem;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin-top: 10px;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav a:hover {
    color: #ffcc00;
}

/* Section with the movie poster and countdown timer */
.launch-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* Movie poster styles */
.movie-poster {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Timer container */
.timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

/* Text above the timer */
.launch-text {
    font-size: 1.5rem;
    color: #fff;
    margin-bottom: 10px;
}

/* Countdown timer box (rectangular) */
.countdown-box {
    font-size: 2rem;
    color: #fff;
    background: linear-gradient(90deg, #ff0066, #00ccff);
    padding: 20px;
    width: 350px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

/* Movie list styling */
.movie-list {
    padding: 20px;
    text-align: center; /* Center the heading */
}

.movie-list h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #fff;
    text-align: center; /* Ensure heading is centered */
}

.movies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
}

.movie {
    background-color: #1e1e1e;
    width: 160px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.movie:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 204, 255, 0.5);
}

.movie img {
    width: 250px; /* Set a fixed width */
    height: 350px; /* Set a fixed height */
    border-radius: 5px;
    object-fit: cover; /* Ensure the image fits the dimensions properly */


}

/* Footer styling */
footer {
    background-color: #1a1a1a;
    text-align: center;
    padding: 15px;
}

footer p {
    color: #ccc;
}
